Repository zeek/zeek, pull requests merged in 2020-02, with the labels that each got.

#766 Change packet source fields of Options to std::optional
  src/Net.cc
  src/Net.h
  src/Options.cc
  src/Options.h
  src/main.cc
Labels: Type: Maintenance

#765 Change various functions to by-value std::string_view args
  src/util.cc
  src/util.h
Labels: Type: Maintenance

#781 Prevent log batches from indefinite buffering
  scripts/base/frameworks/broker/main.zeek
  src/broker/Manager.cc
  src/broker/Manager.h
  testing/btest/Baseline/broker.remote_log_batch/recv.recv.out
  testing/btest/Baseline/broker.remote_log_batch/recv.test.log
  testing/btest/Baseline/broker.remote_log_batch/send.send.out
  testing/btest/Baseline/broker.remote_log_batch/send.test.log
  testing/btest/Baseline/language.paraglob-serialization/recv.recv.out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/broker/remote_event.zeek
  testing/btest/broker/remote_event_any.zeek
  testing/btest/broker/remote_event_ssl_auth.zeek
  testing/btest/broker/remote_log_batch.zeek
  testing/btest/broker/remote_log_types.zeek
  testing/btest/language/paraglob-serialization.zeek
Labels: Area: Broker, Area: Logging, Type: Bug :bug:

#753 Improve kerberos analyzer address and event handling
  src/analyzer/protocol/krb/krb-analyzer.pac
  src/analyzer/protocol/krb/krb-types.pac
Labels: Area: Protocol Analysis, Type: Bug :bug:

#792 analyzer/protocol/ssh: fix crash vulnerability after duplicate KEX packet
  src/analyzer/protocol/ssh/ssh-protocol.pac
Labels: Area: Protocol Analysis, Type: Bug :bug:
